<div class="row mt">
  <div class="col-lg-12">
    <div class="form-panel">

      <h4 class="mb"><i class="fa fa-angle-right"></i> Update a Habit. Good or Bad.</h4>

      <form class="form-group" name="editHabitForm">

        <div class="form-group">
          <label class="sr-only" for="habitName">Habit Name: </label><br />
          <input type="text" name="habitName"
                 required="required" ng-model="user.habit.name"
                 class="form-control" placeholder="Habit Name" />
          <div ng-if="editHabitForm.habitName.$touched && editHabitForm.habitName.$error.required">
            Good or bad, you must give your habit a name.
          </div><br />
        </div>


        <div class="form-group">
          <label for="complete">Complete? </label>
          <input type="checkbox" name="complete"
                 ng-model="user.habit.complete"/><br />
        </div>


        <div class="form-group">
          <label for="cueType">Select Type of Cue: </label><br />
          <select name="cueType" ng-model="user.habit.cue_attributes.nature">
            <option value="Location">Location</option>
            <option value="Time">Time</option>
            <option value="People">People</option>
            <option value="Emotion">Emotion</option>
            <option value="Activity">Activity</option>
          </select>
        </div>

        <div class="form-group">
          <label for="cueName" ng-if="user.habit.cue_attributes.nature == 'Location'">When I am . . . </label>
          <label for="cueName" ng-if="user.habit.cue_attributes.nature == 'Time'">When it is . . . </label>
          <label for="cueName" ng-if="user.habit.cue_attributes.nature == 'People'">When I am with . . . </label>
          <label for="cueName" ng-if="user.habit.cue_attributes.nature == 'Activity'">After I have . . . </label>
          <label for="cueName" ng-if="user.habit.cue_attributes.nature == 'Emotion'">When I am feeling . . . </label>


          <input type="text" name="cueName" required="required"
                 ng-model="user.habit.cue_attributes.name"
                 class="form-control"/><br />
          <div ng-if="editHabitForm.cueName.$touched && editHabitForm.cueName.$error.required">
            You need to provide a cue for your habit. That's the whole point of this app . . . .
          </div>
        </div>


        <table id="searchCues" ng-if="user.habit.cue_attributes.name"
               class="table table-striped table-advance table-hover">
            <tr ng-repeat="cue in user.cues | filter:user.habit.cue_attributes.name" ng-show="$index < 10" ng-click="user.selectCue(cue)">
              <td><a href=''>{{cue.name}}</a></td>
            </tr>
        </table><br /><br />




        <div class="form-group">
          <label for="reward">This habit provides me with . . .</label><br />
          <input type="text" name="reward" required="required"
                 ng-model="user.habit.reward_attributes.craving"
                 class="form-control"/><br />
          <div ng-if="editHabitForm.reward.$touched && editHabitForm.reward.$error.required">
            What motivates you? What do you think is the driving force behind this habit? You MUST have one.
          </div><br />

          <table id="searchRewards" ng-if="user.habit.reward_attributes.craving"
                 class="table table-striped table-advance table-hover">
            <tr ng-repeat="reward in user.rewards | filter:user.habit.reward_attributes.craving" ng-show="$index < 10" ng-click="user.selectReward(reward)">
              <td><a href=''>{{reward.craving}}</a></td>
            </tr>
          </table><br />

          <input type="submit" ng-click="user.submit(user.habit)" value="Save" ng-disabled="editHabitForm.$invalid" class="btn btn-theme03" />
        </div>
      </form>
    </div><!-- /form-panel -->
  </div><!-- /col-lg-12 -->
</div><!-- /row -->
